<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>
<body>
错误信息：<h4 th:text="${msg}"></h4>
<form action="/login" method="post">
    <p>账号：<input type="text" name="username" value="admin"/></p>
    <p>密码：<input type="text" name="password" value="123456"/></p>
    <p><input type="submit" value="登录"/></p>
</form>
<button shiro:hasPermission="userInfo:view" type="button">用户管理</button>
<button shiro:hasPermission="userInfo:add" type="button">用户添加</button>
<button shiro:hasPermission="userInfo:del" type="button">用户删除</button>
</body>
</html>