<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.spbm.dao.InfoPositionMapper">
  <resultMap id="BaseResultMap" type="com.zl.spbm.entity.InfoPosition">
    <!--@mbg.generated-->
    <id column="post_id" jdbcType="BIGINT" property="postId" />
    <result column="cre_time" jdbcType="TIMESTAMP" property="creTime" />
    <result column="cre_usr" jdbcType="BIGINT" property="creUsr" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="upd_time" jdbcType="TIMESTAMP" property="updTime" />
    <result column="upd_usr" jdbcType="BIGINT" property="updUsr" />
    <result column="com_a8id" jdbcType="BIGINT" property="comA8id" />
    <result column="com_id" jdbcType="VARCHAR" property="comId" />
    <result column="post_a8id" jdbcType="BIGINT" property="postA8id" />
    <result column="post_code" jdbcType="VARCHAR" property="postCode" />
    <result column="post_description" jdbcType="VARCHAR" property="postDescription" />
    <result column="post_name" jdbcType="VARCHAR" property="postName" />
    <result column="post_type" jdbcType="VARCHAR" property="postType" />
    <result column="syn_time" jdbcType="TIMESTAMP" property="synTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    post_id, cre_time, cre_usr, `status`, upd_time, upd_usr, com_a8id, com_id, post_a8id, 
    post_code, post_description, post_name, post_type, syn_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from info_position
    where post_id = #{postId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from info_position
    where post_id = #{postId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="post_id" keyProperty="postId" parameterType="com.zl.spbm.entity.InfoPosition" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into info_position (cre_time, cre_usr, `status`, 
      upd_time, upd_usr, com_a8id, 
      com_id, post_a8id, post_code, 
      post_description, post_name, post_type, 
      syn_time)
    values (#{creTime,jdbcType=TIMESTAMP}, #{creUsr,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, 
      #{updTime,jdbcType=TIMESTAMP}, #{updUsr,jdbcType=BIGINT}, #{comA8id,jdbcType=BIGINT}, 
      #{comId,jdbcType=VARCHAR}, #{postA8id,jdbcType=BIGINT}, #{postCode,jdbcType=VARCHAR}, 
      #{postDescription,jdbcType=VARCHAR}, #{postName,jdbcType=VARCHAR}, #{postType,jdbcType=VARCHAR}, 
      #{synTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="post_id" keyProperty="postId" parameterType="com.zl.spbm.entity.InfoPosition" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into info_position
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="creTime != null">
        cre_time,
      </if>
      <if test="creUsr != null">
        cre_usr,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="updTime != null">
        upd_time,
      </if>
      <if test="updUsr != null">
        upd_usr,
      </if>
      <if test="comA8id != null">
        com_a8id,
      </if>
      <if test="comId != null">
        com_id,
      </if>
      <if test="postA8id != null">
        post_a8id,
      </if>
      <if test="postCode != null">
        post_code,
      </if>
      <if test="postDescription != null">
        post_description,
      </if>
      <if test="postName != null">
        post_name,
      </if>
      <if test="postType != null">
        post_type,
      </if>
      <if test="synTime != null">
        syn_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="creTime != null">
        #{creTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creUsr != null">
        #{creUsr,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="updTime != null">
        #{updTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updUsr != null">
        #{updUsr,jdbcType=BIGINT},
      </if>
      <if test="comA8id != null">
        #{comA8id,jdbcType=BIGINT},
      </if>
      <if test="comId != null">
        #{comId,jdbcType=VARCHAR},
      </if>
      <if test="postA8id != null">
        #{postA8id,jdbcType=BIGINT},
      </if>
      <if test="postCode != null">
        #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="postDescription != null">
        #{postDescription,jdbcType=VARCHAR},
      </if>
      <if test="postName != null">
        #{postName,jdbcType=VARCHAR},
      </if>
      <if test="postType != null">
        #{postType,jdbcType=VARCHAR},
      </if>
      <if test="synTime != null">
        #{synTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zl.spbm.entity.InfoPosition">
    <!--@mbg.generated-->
    update info_position
    <set>
      <if test="creTime != null">
        cre_time = #{creTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creUsr != null">
        cre_usr = #{creUsr,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="updTime != null">
        upd_time = #{updTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updUsr != null">
        upd_usr = #{updUsr,jdbcType=BIGINT},
      </if>
      <if test="comA8id != null">
        com_a8id = #{comA8id,jdbcType=BIGINT},
      </if>
      <if test="comId != null">
        com_id = #{comId,jdbcType=VARCHAR},
      </if>
      <if test="postA8id != null">
        post_a8id = #{postA8id,jdbcType=BIGINT},
      </if>
      <if test="postCode != null">
        post_code = #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="postDescription != null">
        post_description = #{postDescription,jdbcType=VARCHAR},
      </if>
      <if test="postName != null">
        post_name = #{postName,jdbcType=VARCHAR},
      </if>
      <if test="postType != null">
        post_type = #{postType,jdbcType=VARCHAR},
      </if>
      <if test="synTime != null">
        syn_time = #{synTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where post_id = #{postId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zl.spbm.entity.InfoPosition">
    <!--@mbg.generated-->
    update info_position
    set cre_time = #{creTime,jdbcType=TIMESTAMP},
      cre_usr = #{creUsr,jdbcType=BIGINT},
      `status` = #{status,jdbcType=INTEGER},
      upd_time = #{updTime,jdbcType=TIMESTAMP},
      upd_usr = #{updUsr,jdbcType=BIGINT},
      com_a8id = #{comA8id,jdbcType=BIGINT},
      com_id = #{comId,jdbcType=VARCHAR},
      post_a8id = #{postA8id,jdbcType=BIGINT},
      post_code = #{postCode,jdbcType=VARCHAR},
      post_description = #{postDescription,jdbcType=VARCHAR},
      post_name = #{postName,jdbcType=VARCHAR},
      post_type = #{postType,jdbcType=VARCHAR},
      syn_time = #{synTime,jdbcType=TIMESTAMP}
    where post_id = #{postId,jdbcType=BIGINT}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update info_position
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="cre_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when post_id = #{item.postId,jdbcType=BIGINT} then #{item.creTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="cre_usr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when post_id = #{item.postId,jdbcType=BIGINT} then #{item.creUsr,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when post_id = #{item.postId,jdbcType=BIGINT} then #{item.status,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="upd_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when post_id = #{item.postId,jdbcType=BIGINT} then #{item.updTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="upd_usr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when post_id = #{item.postId,jdbcType=BIGINT} then #{item.updUsr,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="com_a8id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when post_id = #{item.postId,jdbcType=BIGINT} then #{item.comA8id,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="com_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when post_id = #{item.postId,jdbcType=BIGINT} then #{item.comId,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="post_a8id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when post_id = #{item.postId,jdbcType=BIGINT} then #{item.postA8id,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="post_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when post_id = #{item.postId,jdbcType=BIGINT} then #{item.postCode,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="post_description = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when post_id = #{item.postId,jdbcType=BIGINT} then #{item.postDescription,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="post_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when post_id = #{item.postId,jdbcType=BIGINT} then #{item.postName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="post_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when post_id = #{item.postId,jdbcType=BIGINT} then #{item.postType,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="syn_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when post_id = #{item.postId,jdbcType=BIGINT} then #{item.synTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
    </trim>
    where post_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.postId,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="post_id" keyProperty="postId" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into info_position
    (cre_time, cre_usr, `status`, upd_time, upd_usr, com_a8id, com_id, post_a8id, post_code, 
      post_description, post_name, post_type, syn_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.creTime,jdbcType=TIMESTAMP}, #{item.creUsr,jdbcType=BIGINT}, #{item.status,jdbcType=INTEGER}, 
        #{item.updTime,jdbcType=TIMESTAMP}, #{item.updUsr,jdbcType=BIGINT}, #{item.comA8id,jdbcType=BIGINT}, 
        #{item.comId,jdbcType=VARCHAR}, #{item.postA8id,jdbcType=BIGINT}, #{item.postCode,jdbcType=VARCHAR}, 
        #{item.postDescription,jdbcType=VARCHAR}, #{item.postName,jdbcType=VARCHAR}, #{item.postType,jdbcType=VARCHAR}, 
        #{item.synTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="post_id" keyProperty="postId" parameterType="com.zl.spbm.entity.InfoPosition" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into info_position
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="postId != null">
        post_id,
      </if>
      cre_time,
      cre_usr,
      `status`,
      upd_time,
      upd_usr,
      com_a8id,
      com_id,
      post_a8id,
      post_code,
      post_description,
      post_name,
      post_type,
      syn_time,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="postId != null">
        #{postId,jdbcType=BIGINT},
      </if>
      #{creTime,jdbcType=TIMESTAMP},
      #{creUsr,jdbcType=BIGINT},
      #{status,jdbcType=INTEGER},
      #{updTime,jdbcType=TIMESTAMP},
      #{updUsr,jdbcType=BIGINT},
      #{comA8id,jdbcType=BIGINT},
      #{comId,jdbcType=VARCHAR},
      #{postA8id,jdbcType=BIGINT},
      #{postCode,jdbcType=VARCHAR},
      #{postDescription,jdbcType=VARCHAR},
      #{postName,jdbcType=VARCHAR},
      #{postType,jdbcType=VARCHAR},
      #{synTime,jdbcType=TIMESTAMP},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="postId != null">
        post_id = #{postId,jdbcType=BIGINT},
      </if>
      cre_time = #{creTime,jdbcType=TIMESTAMP},
      cre_usr = #{creUsr,jdbcType=BIGINT},
      `status` = #{status,jdbcType=INTEGER},
      upd_time = #{updTime,jdbcType=TIMESTAMP},
      upd_usr = #{updUsr,jdbcType=BIGINT},
      com_a8id = #{comA8id,jdbcType=BIGINT},
      com_id = #{comId,jdbcType=VARCHAR},
      post_a8id = #{postA8id,jdbcType=BIGINT},
      post_code = #{postCode,jdbcType=VARCHAR},
      post_description = #{postDescription,jdbcType=VARCHAR},
      post_name = #{postName,jdbcType=VARCHAR},
      post_type = #{postType,jdbcType=VARCHAR},
      syn_time = #{synTime,jdbcType=TIMESTAMP},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="post_id" keyProperty="postId" parameterType="com.zl.spbm.entity.InfoPosition" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into info_position
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="postId != null">
        post_id,
      </if>
      <if test="creTime != null">
        cre_time,
      </if>
      <if test="creUsr != null">
        cre_usr,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="updTime != null">
        upd_time,
      </if>
      <if test="updUsr != null">
        upd_usr,
      </if>
      <if test="comA8id != null">
        com_a8id,
      </if>
      <if test="comId != null">
        com_id,
      </if>
      <if test="postA8id != null">
        post_a8id,
      </if>
      <if test="postCode != null">
        post_code,
      </if>
      <if test="postDescription != null">
        post_description,
      </if>
      <if test="postName != null">
        post_name,
      </if>
      <if test="postType != null">
        post_type,
      </if>
      <if test="synTime != null">
        syn_time,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="postId != null">
        #{postId,jdbcType=BIGINT},
      </if>
      <if test="creTime != null">
        #{creTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creUsr != null">
        #{creUsr,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="updTime != null">
        #{updTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updUsr != null">
        #{updUsr,jdbcType=BIGINT},
      </if>
      <if test="comA8id != null">
        #{comA8id,jdbcType=BIGINT},
      </if>
      <if test="comId != null">
        #{comId,jdbcType=VARCHAR},
      </if>
      <if test="postA8id != null">
        #{postA8id,jdbcType=BIGINT},
      </if>
      <if test="postCode != null">
        #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="postDescription != null">
        #{postDescription,jdbcType=VARCHAR},
      </if>
      <if test="postName != null">
        #{postName,jdbcType=VARCHAR},
      </if>
      <if test="postType != null">
        #{postType,jdbcType=VARCHAR},
      </if>
      <if test="synTime != null">
        #{synTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="postId != null">
        post_id = #{postId,jdbcType=BIGINT},
      </if>
      <if test="creTime != null">
        cre_time = #{creTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creUsr != null">
        cre_usr = #{creUsr,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="updTime != null">
        upd_time = #{updTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updUsr != null">
        upd_usr = #{updUsr,jdbcType=BIGINT},
      </if>
      <if test="comA8id != null">
        com_a8id = #{comA8id,jdbcType=BIGINT},
      </if>
      <if test="comId != null">
        com_id = #{comId,jdbcType=VARCHAR},
      </if>
      <if test="postA8id != null">
        post_a8id = #{postA8id,jdbcType=BIGINT},
      </if>
      <if test="postCode != null">
        post_code = #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="postDescription != null">
        post_description = #{postDescription,jdbcType=VARCHAR},
      </if>
      <if test="postName != null">
        post_name = #{postName,jdbcType=VARCHAR},
      </if>
      <if test="postType != null">
        post_type = #{postType,jdbcType=VARCHAR},
      </if>
      <if test="synTime != null">
        syn_time = #{synTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>